<!DOCTYPE html>
<html class='v2' dir='ltr' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data'
  xmlns:expr='http://www.google.com/2005/gml/expr'>

<head>
  <link rel="stylesheet" href="/css/style1.css">
  <!-- Javascript Default-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="/js/core.js"></script>
  <link rel="stylesheet" href="/css/noty.css">
  <link rel="stylesheet" href="/css/animate.css">
  <!-- PICTURE effect-->
  <!-- PICTURE effect end-->
  <link href='https://www.blogger.com/dyn-css/authorization.css?targetBlogID=6376100813676373724&amp;zx=e2fb883c-1cd6-4f26-9d94-284d860ed6ca'
    media='none' onload='if(media!=&#39;all&#39;)media=&#39;all&#39;' rel='stylesheet' />
  <noscript>
    <link href='https://www.blogger.com/dyn-css/authorization.css?targetBlogID=6376100813676373724&amp;zx=e2fb883c-1cd6-4f26-9d94-284d860ed6ca'
      rel='stylesheet' />
  </noscript>
</head>

<body class='index'>
  <!-- Option -->
  <div class='theme-opt' style='display:none'>
    <div class='ibpanel section' id='ibpanel' name='Theme Options'>
      <div class='widget HTML' data-version='1' id='HTML260'>
        <style>
          #outer-wrapper {}
        </style>
      </div>
      <div class='widget HTML' data-version='1' id='HTML261'>
        <script type='text/javascript'>
          //<![CDATA[
          $(document).ready(function () {
            if ($(window).width() > 1120) {
              $("#main-wrapper, #sidebar-wrapper").theiaStickySidebar({
                additionalMarginTop: 25,
                additionalMarginBottom: 25
              });
            }
          });
                //]]>
        </script>
      </div>
    </div>
  </div>
  <!-- Outer Wrapper -->
  <div id="outer-wrapper" class="
home">

    <!-- Header top -->
    <div id='header-top'>
      <div class='row'>
        <div class='menu-top'>
          <ul id='nav1'>
            <li>
              <a href='/p/about.html'>
                <i aria-hidden='true' class='fa fa-info-circle'></i> Giới thiệu</a>
            </li>
            <li>
              <a href='/p/rules.html'>
                <i aria-hidden='true' class='fa fa-mortar-board'></i> Nội Quy</a>
            </li>
            <li>
              <a href='/p/contact.html'>
                <i aria-hidden='true' class='fa fa-envelope'></i> Liên hệ</a>
            </li>
            <li>
              <a href='/p/sitemaps.html'>
                <i aria-hidden='true' class='fa fa-sitemap'></i> Sitemaps</a>
            </li>
          </ul>
        </div>
        <div class='social-sec'>
          <ul id='social'>
            <li>
              <a class='facebook' href='https://www.facebook.com/100005774498536' target='_blank' title='facebook'></a>
            </li>
            <li>
              <a class='gplus' href='https://plus.google.com/u/0/+tuấnanhlêletuananh32' target='_blank' title='gplus'></a>
            </li>
            <li>
              <a class='rss' href='https://www.blogger.com/follow-blog.g?blogID=8215375678279084146' target='_blank' title='rss'></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='clear'></div>
    <!-- Header wrapper -->
    <div id='header-wrapper' itemscope='itemscope' itemtype='https://schema.org/WPHeader'>
      <div class='header-content row'>
        <div class='header-logo'>
          <div class='section' id='header' name='Logo'>
            <div class='widget Header' data-version='1' id='Header1'>
              <div id='header-inner'>
                <a href='http://templatestcit.blogspot.com/' style='display: block'>
                  <h1 style='display:none;'></h1>
                  <img alt='Star Cường IT - Template' height='94px; ' id='Header1_headerimg' src='https://1.bp.blogspot.com/-xHOEDE6y_do/WcM7IGwXKuI/AAAAAAAAHko/FsXeXecWmF4Azjb2Ij9YoV4AmviTl4jcgCLcBGAs/s1600/rVdf0h5.png'
                    style='display: block' width='94px; ' />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class='header-right'>
          <div class='section' id='Header Right'>
            <div class='widget HTML' data-version='2' id='HTML1'>
              <div class='widget-content'>
                <div style="
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    background: #f0f0f0;
">Ads slot</div>
              </div>
              <div class='clear'></div>
              <span class='widget-item-control'>
                <span class='item-control blog-admin'>
                  <a class='quickedit' href='//www.blogger.com/rearrange?blogID=6376100813676373724&widgetType=HTML&widgetId=HTML1&action=editWidget&sectionId=Header+Right'
                    onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML1"));' target='configHTML1' title='Chỉnh sửa'>
                    <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18' />
                  </a>
                </span>
              </span>
              <div class='clear'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='clear'></div>
    <!-- Menu -->
    <nav id='navigation-menu' itemscope='itemscope' itemtype='https://schema.org/SiteNavigationElement'>
      <div class='navigation-content row'>
        <div id='main-nav'>
          <div class='mobile-menu'></div>
          <div class='menu section' id='menu' name='Main Menu'>
            <div class='widget LinkList' data-version='1' id='LinkList119'>
              <div class='widget-content'>
                <ul id='nav2' itemscope='' itemtype='https://schema.org/SiteNavigationElement'>
                  <li itemprop='name'>
                    <a href='/' itemprop='url'>
                      <i class="fa fa-home" style="font-size:20px"></i>
                    </a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật?&max-results=12' itemprop='url'>
                      <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Thủ Thuật</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật Windows?&max-results=12' itemprop='url'>_Thủ Thuật Windows</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật Internet?&max-results=12' itemprop='url'>_Thủ Thuật Internet</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật Blogger?&max-results=12' itemprop='url'>_Thủ Thuật Blogger</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật Facebook?&max-results=12' itemprop='url'>_Thủ Thuật Facebook</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật Youtube?&max-results=12' itemprop='url'>_Thủ Thuật Youtube</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Thủ Thuật Kiếm Tiền?&max-results=12' itemprop='url'>_Thủ Thuật Kiếm Tiền</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Phần Mềm?&max-results=12' itemprop='url'>
                      <i class="fa fa-life-ring" aria-hidden="true"></i> Kiến Thức</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Kiến Thức Đồ Họa?&max-results=12' itemprop='url'>_Kiến Thức Đồ Họa</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Kiến Thức Lập Trình?&max-results=12' itemprop='url'>_Kiến Thức Lập Trình</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Kiến Thức Marketing?&max-results=12' itemprop='url'>_Kiến Thức Marketing</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Kiến Thức SEO?&max-results=12' itemprop='url'>_Kiến Thức SEO</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Blogspot?&max-results=12' itemprop='url'>
                      <i class="fa fa-rss" aria-hidden="true"></i> Blogspot</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Menu Blogspot?&max-results=12' itemprop='url'>_Menu Blogspot</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Widget Blogspot?&max-results=12' itemprop='url'>_Widget Blogspot</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/CSS Blogspot?&max-results=12' itemprop='url'>_CSS Blogspot</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Effect Blogspot?&max-results=12' itemprop='url'>_Effect Blogspot</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Loading Blogspot?&max-results=12' itemprop='url'>_Loading Blogspot</a>
                  </li>
                  <li itemprop='name'>
                    <a href='/search/label/Template?&max-results=12' itemprop='url'>
                      <!--[Template Blogger,mega]-->
                      <i class="fa fa-folder-open" aria-hidden="true"></i> Template Blogger</a>
                  </li>
                  <li itemprop='name'>
                    <a href='#tienich' itemprop='url'>
                      <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Tiện Ích Online</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <span id='search-icon'></span>
        <div id='nav-search'>
          <form action='/search' id='searchform' method='get'>
            <input id='s' name='q' placeholder='Tìm kiếm...' type='text' />
          </form>
        </div>
      </div>
    </nav>
    <!-- Tiện Ích -->
    <div id='tienich'>
      <label>
        <ul>
          <li>
            <a class='htool' href='/p/top-commentators.html' target='_blank'>
              <i class='fa fa-linux'></i> Top Bình Luận</a>
          </li>
          <li>
            <a class='htool' href='/p/photoshop.html' target='_blank'>
              <i class='fa fa-product-hunt'></i> Photoshop Online</a>
          </li>
          <li>
            <a class='htool' href='/p/color-hex.html' target='_blank'>
              <i class='fa fa-tachometer'></i> Bảng Mã Màu</a>
          </li>
          <li>
            <a class='htool' href='/p/upload.html' target='_blank'>
              <i class='fa fa-cloud-upload'></i> Upload Ảnh</a>
          </li>
          <li>
            <a class='htool' href='/p/nen-anh.html' target='_blank'>
              <i class='fa fa-object-group'></i> Nén Ảnh</a>
          </li>
          <li>
            <a class='htool' href='/p/test-responsive.html' target='_blank'>
              <i class='fa fa-television'></i> Test Responsive</a>
          </li>
          <li>
            <a class='htool' href='/p/dem-ky-tu.html' target='_blank'>
              <i class='fa fa-line-chart'></i> Đếm Ký Tự</a>
          </li>
          <li>
            <a class='htool' href='/p/ma-hoa-code.html' target='_blank'>
              <i class='fa fa-chain-broken'></i> Mã Hóa Code</a>
          </li>
          <li>
            <a class='htool' href='/p/nen-css.html' target='_blank'>
              <i class='fa fa-life-ring'></i> Nén CSS</a>
          </li>
          <li>
            <a class='htool' href='/p/test-theme.html' target='_blank'>
              <i class='fa fa-connectdevelop'></i> Thử Mã</a>
          </li>
        </ul>
      </label>
      <a class='close' href='#close' title='Close'>
        <i aria-hidden='true' class='fa fa-times-circle'></i>
      </a>
    </div>
    <div class='clear'></div>
    <!-- Lable -->
    <!-- Content-wrapper -->
    <div class='row' id='content-wrapper' itemscope='itemscope' itemtype='https://schema.org/Blog' role='main'>
      <!-- Error Page -->
      <!-- Main wrapper -->
      <div id='main-wrapper' itemscope='itemscope' itemtype='https://schema.org/Blog' role='main'>
        <!-- Multitab -->
        <div style='clear: both;'></div>
        <!-- Home ADS -->
        <!-- Main -->
        <div class='main section' id='main' name='Main Posts'>
          <div class='widget Blog' data-version='1' id='Blog1'>
            <div class='blog-posts hfeed'>
              <!-- begin list post -->
              <button id="btnClickTry">
                  Click Try
              </button>
              <% test.forEach(item =>{%>
                <div class='post-outer'>
                  <article class='post ty-article'>
                    <div class='ty-inner'>
                      <div class='block-image'>
                          <a class='thumb' href='/post/info-post/<%=item._id%>'>
                            <img alt='<%=item.title%>' class='ty-thumb' src='/images/posts/<%=item.image%>'
                          />
                        </a>
                      </div>
                      <div class='date-header'>
                        <h2 class='post-title entry-title'>
                          <a href='/post/info-post/<%=item._id%>'>
                            <%=item.title%>
                          </a>
                        </h2>
                        <div class='ty-meta meta-post'>
                          <span class='author-link vcard'>
                          </span>
                          <a class='timestamp-link' href='/post/info-post/<%=item._id%>' rel='bookmark'
                            style='color:#3F826D' title='permanent link'>
                            <abbr class='published' itemprop='datePublished dateModified' title='tháng 11 12, 2017'><%=item.createAt%></abbr>
                          </a>
                        </div>
                        <p class='post-snip'>
                          <%=item.contentSmall%>
                        </p>
                        <span class='more-link'>
                          <a href='http://templatestcit.blogspot.com/2017/11/cach-cai-at-font-vao-may-tinh-windows.html'>Đọc thêm &#187;</a>
                        </span>
                      </div>
                    </div>
                    <div class='clear'></div>
                  </article>
                </div>
              <%}) %>
              <!-- end list post -->
            </div>
            <div class='blog-pager' id='blog-pager'>
              <span id='blog-pager-older-link'>
                <a class='blog-pager-older-link' href='http://templatestcit.blogspot.com/search?updated-max=2017-11-03T19:32:00-07:00&amp;max-results=7'
                  id='Blog1_blog-pager-older-link' title='Bài đăng cũ hơn'>Bài đăng cũ hơn</a>
              </span>
              <a class='home-link' href='http://templatestcit.blogspot.com/'>Trang chủ</a>
            </div>
            <div class='clear'></div>
            <div class='blog-feeds'>
              <div class='feed-links'>
                Đăng ký:
                <a class='feed-link' href='http://templatestcit.blogspot.com/feeds/posts/default' target='_blank' type='application/atom+xml'>
                  Bài đăng ( Atom )
                </a>
              </div>
            </div>
            <script type="text/javascript">window.___gcfg = { 'lang': 'vi' };</script>
          </div>
        </div>
      </div>
      <!-- Sidebar wrapper -->
      <aside id='sidebar-wrapper' itemscope='itemscope' itemtype='https://schema.org/WPSideBar'>
        <div class='sidebar ready-widget section' id='sidebar1' name='Sidebar Right (a)'>
          <div class='widget Image' data-version='2' id='Image1'>
            <div class='widget-content'>
              <a href='http://www.starcuongit.com/'>
                <img alt='' height='600' id='Image1_img' src='http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s1600/Untitled-1.png'
                  srcset='http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s72/Untitled-1.png 72w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s128/Untitled-1.png 128w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s220/Untitled-1.png 220w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s400/Untitled-1.png 400w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s640/Untitled-1.png 640w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s800/Untitled-1.png 800w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s1024/Untitled-1.png 1024w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s1280/Untitled-1.png 1280w, http://3.bp.blogspot.com/-_p_svUyTy80/Wg12DBjXMQI/AAAAAAAAIi0/B9HExf1iU1s3jWGCJ8vt-3D0-mJEH5i3ACK4BGAYYCw/s1600/Untitled-1.png 1600w'
                  width='300'>
                </img>
              </a>
              <br/>
            </div>
          </div>
          <%-include('./components/popular.ejs')%>
        </div>
      </aside>
    </div>
    <div class='clear'></div>
    <!-- ĐĂNG KÝ -->
    <div id='subscribe-form-bacsiwindows'>
      <h2>ĐĂNG KÝ STAR CƯỜNG IT</h2>
      <h3>Khi có bài viết mới, chúng tôi sẽ thông báo cho bạn qua Email
        <br/>Cam kết không SPAM hay lừa đảo!</h3>
      <form action='http://feedburner.google.com/fb/a/mailverify?uri=starcuongit' class='form-sub-bacsiwindows' method='post' target='_new'>
        <div class='input-sub-bacsiwindows'>
          <i class='fa fa-user'></i>
          <input class='input_sub-bacsiwindows' name='name' placeholder='Tên của bạn' type='text' />
        </div>
        <div class='input-sub-bacsiwindows tilt'>
          <i class='fa fa-envelope'></i>
          <input class='input_sub-bacsiwindows' name='email' placeholder='Địa chỉ Email' type='text' />
        </div>
        <input class='buter' type='submit' value='ĐĂNG KÝ NGAY' />
      </form>
      <div class='clear'></div>
    </div>
    <!-- ĐĂNG KÝ END -->
    <!-- Footer wrapper -->
    <footer id='footer-wrapper' itemscope='itemscope' itemtype='https://schema.org/WPFooter'>
      <div class='row' id='footer'>
        <div class='sect-left ready-widget section' id='footer-sec1' name='Section (Left)'>
          <div class='widget HTML' data-version='2' id='HTML2'>
            <h2 class='title'>Giới thiệu</h2>
            <div class='widget-content'>
              <p>Star Cường IT là một blog chuyên chia sẻ Thủ Thuật Máy Tính, Thủ Thuật Blogger - Blogspot, chia sẻ Template
                Blogspot, và nhiều tiện ích khác,...</p>
              <p>Star Cường IT là blog phi lợi nhuận, hoạt động không nhằm mục đích thương mại hay buôn bán,... Mỗi ngày có
                khoảng trên dưới 5000 lượt người xem từ khắp nơi trên miền đất nước.</p>
              Hiện tại có
              <b>
                <span id='Stats1_totalPosts'></span>
              </b> bài viết và
              <b>
                <span id='Stats1_totalComments'></span>
              </b> bình luận trên Blog.
              <p>Liên hệ, góp ý hoặc hợp tác, quảng cáo
                <a href="//www.starcuongit.com/p/lien-he-voi-star-cuong-it.html">tại đây</a>.</p>
              <script type="text/javascript">
                //<![CDATA[
                function totalPosts(json) { document.getElementById('Stats1_totalPosts').innerHTML = json.feed.openSearch$totalResults.$t }; function totalComments(json) { document.getElementById('Stats1_totalComments').innerHTML = json.feed.openSearch$totalResults.$t }; document.write('<script type=\"text/javascript\" src=\"/feeds/posts/default?alt=json-in-script&max-results=0&callback=totalPosts\"><\/script><script type=\"text/javascript\" src=\"/feeds/comments/default?alt=json-in-script&max-results=0&callback=totalComments\"><\/script>');
//]]>
              </script>
            </div>
            <div class='clear'></div>
            <span class='widget-item-control'>
              <span class='item-control blog-admin'>
                <a class='quickedit' href='//www.blogger.com/rearrange?blogID=6376100813676373724&widgetType=HTML&widgetId=HTML2&action=editWidget&sectionId=footer-sec1'
                  onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML2"));' target='configHTML2' title='Chỉnh sửa'>
                  <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18' />
                </a>
              </span>
            </span>
            <div class='clear'></div>
          </div>
        </div>
        <div class='sect-left ready-widget section' id='footer-sec2' name='Section (Center)'>
          <div class='widget HTML' data-version='2' id='HTML3'>
            <h2 class='title'>Nhận xét mới</h2>
            <div class='widget-content'>
              <style type="text/css">
                ul.helploggercomments {
                  list-style: none;
                  margin: 0;
                  padding: 0;
                }

                .helploggercomments li {
                  background: none !important;
                  margin: 0 0 6px !important;
                  padding: 0 0 6px 0 !important;
                  display: block;
                  clear: both;
                  overflow: hidden;
                  list-style: none;
                }

                .helploggercomments li span {
                  color: #ccc;
                  display: inline;
                  line-height: 1.4;
                  margin: 0 0 0 6px
                }
              </style>
              <script type="text/javascript">
                //<![CDATA[
                // Recent Comments Settings
                var numComments = 6
                showAvatar = false,
                  avatarSize = 60,
                  roundAvatar = true,
                  characters = 60,
                  showMorelink = false,
                  moreLinktext = "More &#187;",
                  defaultAvatar = "//4.bp.blogspot.com/-SRSVCXNxbAc/UrbxxXd06YI/AAAAAAAAFl4/332qncR9pD4/s1600/default-avatar.jpg",
                  hideCredits = true;
//]]>
              </script>
              <script type="text/javascript">
                eval(function (p, a, c, k, e, r) { e = function (c) { return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36)) }; if (!''.replace(/^/, String)) { while (c--) r[e(c)] = k[c] || e(c); k = [function (e) { return r[e] }]; e = function () { return '\\w+' }; c = 1 }; while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]); return p }('7 E=E||5,8=8||12,o=o||13,k=k||"h://4.F.p.f/-14/15/16/17/G/18-19.1a",H=H||" 1b &1c;",q=(r q===\'u\')?j:q,v=(r v===\'u\')?Q:v,m=(r m===\'u\')?j:m,I=(r I===\'u\')?Q:m;1d R(w){7 9;9=\'<S J="R">\';K(7 i=0;i<E;i++){7 x,y,3,n;6(i==w.T.b.z)1e;9+="<U>";7 b=w.T.b[i];K(7 l=0;l<b.L.z;l++){6(b.L[l].1f==\'1g\'){x=b.L[l].A}}K(7 a=0;a<b.M.z;a++){y=b.M[a].1h.$t;3=b.M[a].1i$1j.V}6(3.g("/G/")!=-1){3=3.B("/G/","/s"+8+"-c/")}e 6(3.g("/W/")!=-1){3=3.B("/W/","/s"+8+"-c/")}e 6(3.g("/X-c/")!=-1&&3.g("h:")!=0){3="h:"+3.B("/X-c/","/s"+8+"-c/")}e 6(3.g("N.f/C/1k-Y.O")!=-1){3="h://1.F.p.f/-1l/1m/1n/1o/s"+8+"/1p.Z"}e 6(3.g("N.f/C/1q-Y.O")!=-1){3="h://2.F.p.f/-1r/1s/1t/1u/s"+8+"/1v.Z"}e 6(3.g("N.f/C/1w.O")!=-1){6(k.g("1x.f")!=-1){3=k+"&s="+8}e{3=k}}e{3=3}6(q==j){6(m==j){n="1y"}e{n=""}9+="<10 J=\\"1z "+n+"\\"><C J=\\""+n+"\\" V=\\""+3+"\\" 1A=\\""+y+"\\" 1B=\\""+8+"\\" 1C=\\""+8+"\\"/></10>"}9+="<a A=\\""+x+"\\">"+y+"</a>";7 11=b.1D.$t;7 d=11.B(/(<([^>]+)>)/1E,"");6(d!=""&&d.z>o){d=d.1F(0,o);d+="&1G;";6(v==j){d+="<a A=\\""+x+"\\">"+H+"</a>"}}e{d=d}9+="<D>"+d+"</D>";9+="</U>"}9+=\'</S>\';7 P="";6(I==j){P="1H:1I;"}9+="<D 1J=\\"1K-1L:1M;1N:1O;1P-1Q:1R;"+P+"\\">1S 1T<a A=\\"h://w.p.f/\\"> 1U</a></D>";1V.1W(9)}', 62, 121, '|||authorAvatar|||if|var|avatarSize|commentsHtml||entry||commBody|else|com|indexOf|http||true|defaultAvatar||roundAvatar|avatarClass|characters|blogspot|showAvatar|typeof|||undefined|showMorelink|helplogger|commentlink|authorName|length|href|replace|img|span|numComments|bp|s1600|moreLinktext|hideCredits|class|for|link|author|blogblog|gif|hideCSS|false|helploggercomments|ul|feed|li|src|s220|s512|rounded|png|div|commHTML|60|40|SRSVCXNxbAc|UrbxxXd06YI|AAAAAAAAFl4|332qncR9pD4|default|avatar|jpg|More|raquo|function|break|rel|alternate|name|gd|image|b16|7bkcAKdpGXI|UrbyQRqvSKI|AAAAAAAAFmI|oBv_yMeYnMQ|blogger|openid16|VgnInuIUKBU|UrbzyXTYWRI|AAAAAAAAFmU|3f_Vfj3TI6A|openid|blank|gravatar|avatarRound|avatarImage|alt|width|height|content|ig|substring|hellip|visibility|hidden|style|font|size|10px|display|none|text|align|right|Widget|by|Helplogger|document|write'.split('|'), 0, {}))
              </script>
              <script type="text/javascript" src="/feeds/comments/default?alt=json&callback=helploggercomments"></script>
            </div>
            <div class='clear'></div>
            <span class='widget-item-control'>
              <span class='item-control blog-admin'>
                <a class='quickedit' href='//www.blogger.com/rearrange?blogID=6376100813676373724&widgetType=HTML&widgetId=HTML3&action=editWidget&sectionId=footer-sec2'
                  onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML3"));' target='configHTML3' title='Chỉnh sửa'>
                  <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18' />
                </a>
              </span>
            </span>
            <div class='clear'></div>
          </div>
        </div>
        <div class='sect-left ready-widget section' id='footer-sec3' name='Section (Right)'>
          <div class='widget HTML' data-version='2' id='HTML4'>
            <h2 class='title'>Blog Bạn Bè</h2>
            <div class='widget-content'>
              <div class="widget-content">
                <style>
                  #lkbb-widget::-webkit-scrollbar {
                    width: 5px
                  }

                  #lkbb-widget::-webkit-scrollbar-thumb {
                    background: #484848;
                    border-radius: 100px
                  }

                  #lkbb-widget::-webkit-scrollbar-thumb:active {
                    background: #777
                  }

                  #lkbb-widget {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    max-height: 310px;
                    overflow: auto
                  }

                  .lkbb-widget {
                    margin: 0;
                    padding: 0
                  }

                  .lkbb-widget li {
                    margin: 0;
                    padding: 0;
                    line-height: normal;
                    display: block;
                    float: left;
                    text-align: center;
                    width: 50%
                  }

                  .lkbb-widget a {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                    margin: 0 5px 5px 0;
                    padding: 7px 15px;
                    font: 400 17px Roboto !important;
                    -webkit-transition: .3s;
                    letter-spacing: -.35px;
                    border-radius: 0;
                    -moz-transition: .3s;
                    -o-transition: .3s;
                    color: #777 !important;
                    border: 1px solid #484848;
                    border-radius: 40px
                  }

                  .lkbb-widget a:hover {
                    color: #069999 !important;
                    border: 1px solid
                  }
                </style>
                <div id="lkbb-widget">
                  <div class="lkbb-widget">
                    <li>
                      <a href='//www.starcuongit.com/lienket' target='_blank' title='Đặt liên kết'>Đặt Liên Kết</a>
                    </li>
                    <li>
                      <a href='//www.ephoto360.com' target='_blank' title='Hiệu ứng chữ online'>Ephoto360</a>
                    </li>
                    <li>
                      <a href='//www.startuanit.net' target='_blank' title=''>Star Tuấn Blog</a>
                    </li>
                    <li>
                      <a href='http://www.bacsiwindows.com/' target='_blank' title='Bác Sĩ Windows - Blog Thủ Thuật Công Nghệ - Blogger - Blogspot - Free Template and More'>Bác Sĩ Windows</a>
                    </li>
                    <li>
                      <a href='http://www.z0mbie.win/' target='_blank' title=''>Z0mbie.win</a>
                    </li>
                    <li>
                      <a href='http://www.linkthuthuat.com/' target='_blank' title=''>Link Thủ Thuật</a>
                    </li>
                    <li>
                      <a href='https://phucuongblogger.blogspot.com/' target='_blank' title=''>Phú Cường Blogger</a>
                    </li>
                    <li>
                      <a href='http://www.duyripper.net' target='_blank' title='Chia sẽ thủ thuật - Ảnh bìa chất'>Duy Ripper</a>
                    </li>
                    <li>
                      <a href='//www.shopthuthuat.com' target='_blank' title='Blog Chia Sẻ Thủ Thuật FaceBook'>Shop Thủ Thuật</a>
                    </li>
                    <li>
                      <a href='https://denhatdoc.com/' target='_blank' title=''>Đệ Nhất Độc</a>
                    </li>
                    <li>
                      <a href='//www.niemstyle.com' target='_blank' title='Blog Chia Sẻ Thủ Thuật'>Niệm Style Blog</a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <div class='clear'></div>
            <span class='widget-item-control'>
              <span class='item-control blog-admin'>
                <a class='quickedit' href='//www.blogger.com/rearrange?blogID=6376100813676373724&widgetType=HTML&widgetId=HTML4&action=editWidget&sectionId=footer-sec3'
                  onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML4"));' target='configHTML4' title='Chỉnh sửa'>
                  <img alt='' height='18' src='https://resources.blogblog.com/img/icon18_wrench_allbkg.png' width='18' />
                </a>
              </span>
            </span>
            <div class='clear'></div>
          </div>
        </div>
      </div>
      <div class='clear'></div>
      <div class='footer-wrapper'>
        <div class='footer-copy row'>
          <div class='social-ico section' id='social-footer' name='Social Footer'>
            <div class='widget LinkList' data-version='1' id='LinkList51'>
              <div class='widget-content'>
                <ul>
                  <li>
                    <a class='facebook' href='https://www.facebook.com/100005774498536' target='_blank' title='facebook'></a>
                  </li>
                  <li>
                    <a class='instagram' href='https://plus.google.com/u/0/+tuấnanhlêletuananh32' target='_blank' title='instagram'></a>
                  </li>
                  <li>
                    <a class='youtube' href='https://www.blogger.com/follow-blog.g?blogID=8215375678279084146' target='_blank'
                      title='youtube'></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='copyright'>Copyright &#169; 2017
            <a href='http://templatestcit.blogspot.com/' id='mycontent' title=''>Star Cường IT - Template</a>
          </div>
        </div>
      </div>
    </footer>
    <div class='back-top' title='Back to Top'>
      <i class='fa fa-chevron-up'></i>
    </div>
    <!-- blocked widgets -->
  </div>

  <script type='text/javascript'>
    //<![CDATA[
    // Theia Sticky Sidebar | v1.3.0 - https://github.com/WeCodePixels/theia-sticky-sidebar
    !function (i) { i.fn.theiaStickySidebar = function (t) { function o(t, o) { var a = e(t, o); a || (console.log("TST: Body width smaller than options.minWidth. Init is delayed."), i(document).scroll(function (t, o) { return function (a) { var n = e(t, o); n && i(this).unbind(a) } }(t, o)), i(window).resize(function (t, o) { return function (a) { var n = e(t, o); n && i(this).unbind(a) } }(t, o))) } function e(t, o) { return t.initialized === !0 ? !0 : i("body").width() < t.minWidth ? !1 : (a(t, o), !0) } function a(t, o) { t.initialized = !0, i("head").append(i('<style>.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>')), o.each(function () { function o() { a.fixedScrollTop = 0, a.sidebar.css({ "min-height": "1px" }), a.stickySidebar.css({ position: "static", width: "" }) } function e(t) { var o = t.height(); return t.children().each(function () { o = Math.max(o, i(this).height()) }), o } var a = {}; a.sidebar = i(this), a.options = t || {}, a.container = i(a.options.containerSelector), 0 == a.container.size() && (a.container = a.sidebar.parent()), a.sidebar.parents().css("-webkit-transform", "none"), a.sidebar.css({ position: "relative", overflow: "visible", "-webkit-box-sizing": "border-box", "-moz-box-sizing": "border-box", "box-sizing": "border-box" }), a.stickySidebar = a.sidebar.find(".theiaStickySidebar"), 0 == a.stickySidebar.length && (a.sidebar.find("script").remove(), a.stickySidebar = i("<div>").addClass("theiaStickySidebar").append(a.sidebar.children()), a.sidebar.append(a.stickySidebar)), a.marginTop = parseInt(a.sidebar.css("margin-top")), a.marginBottom = parseInt(a.sidebar.css("margin-bottom")), a.paddingTop = parseInt(a.sidebar.css("padding-top")), a.paddingBottom = parseInt(a.sidebar.css("padding-bottom")); var n = a.stickySidebar.offset().top, d = a.stickySidebar.outerHeight(); a.stickySidebar.css("padding-top", 1), a.stickySidebar.css("padding-bottom", 1), n -= a.stickySidebar.offset().top, d = a.stickySidebar.outerHeight() - d - n, 0 == n ? (a.stickySidebar.css("padding-top", 0), a.stickySidebarPaddingTop = 0) : a.stickySidebarPaddingTop = 1, 0 == d ? (a.stickySidebar.css("padding-bottom", 0), a.stickySidebarPaddingBottom = 0) : a.stickySidebarPaddingBottom = 1, a.previousScrollTop = null, a.fixedScrollTop = 0, o(), a.onScroll = function (a) { if (a.stickySidebar.is(":visible")) { if (i("body").width() < a.options.minWidth) return void o(); if (a.sidebar.outerWidth(!0) + 50 > a.container.width()) return void o(); var n = i(document).scrollTop(), d = "static"; if (n >= a.container.offset().top + (a.paddingTop + a.marginTop - a.options.additionalMarginTop)) { var r, s = a.paddingTop + a.marginTop + t.additionalMarginTop, c = a.paddingBottom + a.marginBottom + t.additionalMarginBottom, p = a.container.offset().top, b = a.container.offset().top + e(a.container), g = 0 + t.additionalMarginTop, l = a.stickySidebar.outerHeight() + s + c < i(window).height(); r = l ? g + a.stickySidebar.outerHeight() : i(window).height() - a.marginBottom - a.paddingBottom - t.additionalMarginBottom; var h = p - n + a.paddingTop + a.marginTop, f = b - n - a.paddingBottom - a.marginBottom, S = a.stickySidebar.offset().top - n, u = a.previousScrollTop - n; "fixed" == a.stickySidebar.css("position") && "modern" == a.options.sidebarBehavior && (S += u), "legacy" == a.options.sidebarBehavior && (S = r - a.stickySidebar.outerHeight(), S = Math.max(S, r - a.stickySidebar.outerHeight())), S = u > 0 ? Math.min(S, g) : Math.max(S, r - a.stickySidebar.outerHeight()), S = Math.max(S, h), S = Math.min(S, f - a.stickySidebar.outerHeight()); var m = a.container.height() == a.stickySidebar.outerHeight(); d = !m && S == g || !m && S == r - a.stickySidebar.outerHeight() ? "fixed" : n + S - a.sidebar.offset().top - a.paddingTop <= t.additionalMarginTop ? "static" : "absolute" } if ("fixed" == d) a.stickySidebar.css({ position: "fixed", width: a.sidebar.width(), top: S, left: a.sidebar.offset().left + parseInt(a.sidebar.css("padding-left")) }); else if ("absolute" == d) { var y = {}; "absolute" != a.stickySidebar.css("position") && (y.position = "absolute", y.top = n + S - a.sidebar.offset().top - a.stickySidebarPaddingTop - a.stickySidebarPaddingBottom), y.width = a.sidebar.width(), y.left = "", a.stickySidebar.css(y) } else "static" == d && o(); "static" != d && 1 == a.options.updateSidebarHeight && a.sidebar.css({ "min-height": a.stickySidebar.outerHeight() + a.stickySidebar.offset().top - a.sidebar.offset().top + a.paddingBottom }), a.previousScrollTop = n } }, a.onScroll(a), i(document).scroll(function (i) { return function () { i.onScroll(i) } }(a)), i(window).resize(function (i) { return function () { i.stickySidebar.css({ position: "static" }), i.onScroll(i) } }(a)) }) } var n = { containerSelector: "", additionalMarginTop: 0, additionalMarginBottom: 0, updateSidebarHeight: !0, minWidth: 0, sidebarBehavior: "modern" }; t = i.extend(n, t), t.additionalMarginTop = parseInt(t.additionalMarginTop) || 0, t.additionalMarginBottom = parseInt(t.additionalMarginBottom) || 0, o(t, this) } }(jQuery);
//]]>
  </script>
  <script type='text/javascript'>
    //<![CDATA[
    /*GLOBAL SETTINGS, USER CAN CHANGE*/
    var tyOptions = {
      monthFormat: [, "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
      noThumbnail: "https://3.bp.blogspot.com/-Yw8BIuvwoSQ/VsjkCIMoltI/AAAAAAAAC4c/s55PW6xEKn0/s1600-r/nth.png",
      postperPage: 12,
      labelResults: 12,
      rTitleText: "Bài Viết Gần Đây",
      followByEmailText: "Đăng ký miễn phí và nhận được tin tức mới nhất và cung cấp.",
      shareText: "Chia sẻ:",
      relatedTitleText: "Bài Viết Liên Quan",
      cmmTitleText: "Bình Luận Gần Đây"
    };

    // Main Scripts - "NOTE" (Encrypt in free version)
    $(document).ready(function (t) { function e(t, e, a) { for (var s = 0; s < t[e].link.length; s++)if ("alternate" == t[e].link[s].rel) { a = t[e].link[s].href; break } return a } function a(t, e, a) { var s = t[e].title.$t, l = '<a href="' + a + '">' + s + "</a>"; return l } function s(t, e) { var a = t[e].author[0].name.$t, s = '<span class="item-author">' + a + "</span>"; return s } function l(t, e) { var a = t[e].published.$t, s = a.substring(0, 4), l = a.substring(5, 7), i = a.substring(8, 10), n = tyOptions.monthFormat[parseInt(l, 10)] + " " + i + ", " + s, r = '<span class="item-date">' + n + "</span>"; return r } function i(e, a) { var s = e[a].title.$t, l = e[a].content.$t, i = t("<div>").html(l); if ("media$thumbnail" in e[a]) { var n = e[a].media$thumbnail.url.replace(/\/s[0-9]+\-c/g, "/s1600"); l.indexOf("youtube.com/embed") > -1 && (n = e[a].media$thumbnail.url.replace("/default.jpg", "/mqdefault.jpg")) } else n = l.indexOf("<img") > -1 ? i.find("img:first").attr("src") : tyOptions.noThumbnail; var r = '<img class="ty-thumb" alt="' + s + '" src="' + n + '"/>'; return r } function n(e, a) { var s = e[a].content.$t, l = t("<div>").html(s), i = l.text(); return i } function r(r, c, o, d) { var h = ""; (c.match("mega") || c.match("featured") || c.match("recent-posts") || c.match("post-tag") || c.match("related-posts")) && (h = c.match("recent-posts") ? "/feeds/posts/default?alt=json&max-results=" + o : "/feeds/posts/default/-/" + d + "?alt=json&max-results=" + o, t.ajax({ url: h, type: "get", dataType: "jsonp", success: function (t) { if (c.match("mega")) var o = '<ul class="mega-widget">'; if (c.match("featured")) var o = '<ul class="featured-posts">'; if (c.match("recent-posts") || c.match("post-tag")) var o = '<ul class="custom-widget">'; if (c.match("related-posts")) var o = '<ul class="related-posts">'; console.log(m); var m = t.feed.entry; console.log(t), void 0 == m && (m = { length: 0 }, console.log("Không tìm thấy mục nào cho URL này:: ", h)); for (var u = "", p = 0; p < m.length; p++) { var u = e(m, p, u), f = a(m, p, u), g = i(m, p), v = s(m, p), y = l(m, p), b = n(m, p), x = ""; c.match("mega") ? x += '<div class="mega-item"><div class="mega-content"><a class="mega-img" href="' + u + '">' + g + '</a><h3 class="ty-title">' + f + '</h3><div class="ty-meta">' + y + "</div></div></div>" : c.match("featured") ? (r.parent().addClass("ty-show"), x += 0 == p ? '<li class="first-item"><div class="ty-inner"><a class="ty-image" href="' + u + '">' + g + '</a><div class="ty-entry"><h3 class="ty-title">' + f + '</h3><div class="ty-meta">' + v + y + '</div><p class="ty-snip">' + b.substr(0, 96) + "...</p></div></div></li>" : 1 == p ? '<li class="second-item"><div class="ty-inner"><a class="ty-image" href="' + u + '">' + g + '</a><div class="ty-entry"><h3 class="ty-title">' + f + '</h3><div class="ty-meta">' + y + "</div></div></div></li>" : '<li class="last-item"><div class="ty-inner"><a class="ty-image" href="' + u + '">' + g + '</a><div class="ty-entry"><h3 class="ty-title">' + f + '</h3><div class="ty-meta">' + y + "</div></div></div></li>") : c.match("recent-posts") || c.match("post-tag") ? x += '<li><a class="custom-thumb" href="' + u + '">' + g + '</a><div class="ty-entry"><h3 class="ty-title">' + f + '</h3><div class="ty-meta">' + y + "</div></div></li>" : c.match("related-posts") && (x += '<li class="related-item"><div class="ty-image"><a class="related-thumb" href="' + u + '">' + g + '</a></div><div class="ty-entry"><h3 class="ty-title">' + f + '</h3><div class="ty-meta">' + y + "</div></div></li>"), o += x } o += "</ul>", c.match("mega") ? (r.addClass("has-sub mega-menu").append(o), r.find("a:first").attr("href", function (t, e) { return e.replace(e, "/search/label/" + d + "?&max-results=" + tyOptions.labelResults) })) : r.html(o) } })) } t("#menu").each(function () { for (var e, a, s, l, i, n = t("#menu .LinkList .widget-content ul").children("li").children("a"), r = n.length, c = 0; r > c; c++)e = n.eq(c), s = e.text(), "_" !== s.charAt(0) && (a = n.eq(c + 1), l = a.text(), "_" === l.charAt(0) && (i = e.parent(), i.append('<ul class="sub-menu"/>'))), "_" === s.charAt(0) && (e.text(s.replace("_", "")), e.parent().appendTo(i.children(".sub-menu"))); t("#menu ul li ul").parent("li").addClass("has-sub"), t("#menu > .widget").css("display", "block"), t(".mobile-menu").prepend("<div class='nav-toggle'/>"), t("#nav2").clone().appendTo(".mobile-menu"), t(".mobile-menu ul li a").on("click", function (e) { t(this).parent().hasClass("has-sub") && (e.preventDefault(), t(this).parent().hasClass("show") ? t(this).parent().removeClass("show").find("> .sub-menu").slideToggle(200) : t(this).parent().addClass("show").children(".sub-menu").slideToggle(200)) }), t(".nav-toggle").on("click", function () { t("body").toggleClass("show-menu") }), t(".mobile-menu ul li a").each(function () { var e = t(this).attr("href"), a = e.match(/[^[\]]+(?=])/g); if ("[" === e.charAt(0)) { var s = a[0].toLowerCase(), l = a[0].split(","), i = l[0], n = "/search/label/" + i + "?&max-results=" + tyOptions.labelResults; s.match("mega") && t(this).attr("href", n) } }) }), t("#search-icon").on("click", function () { t("body").toggleClass("show-search") }), t(".recent-title > h2").text(tyOptions.rTitleText), t(".ty-share-post > span").text(tyOptions.shareText), t("#related-wrap .title-wrap h2").text(tyOptions.relatedTitleText), t(".FollowByEmail .widget-content").prepend("<p class='before-text'>" + tyOptions.followByEmailText + "</p>"), t(".cmm-title h2").text(tyOptions.cmmTitleText), t(".block-image .thumb img, .PopularPosts ul li img, .avatar-image-container img").each(function () { var e = t(this).attr("src"), e = e.replace(/\/s[0-9]+\-c/g, "/s1600"), e = e.replace("/w72-h72-p-nu/", "/s1600/"), e = e.replace("/hqdefault.jpg", "/mqdefault.jpg"), e = e.replace("/default.jpg", "/mqdefault.jpg"), e = e.replace("/s35/", "/s45/"), e = e.replace("//img1.blogblog.com/img/blank.gif", "//4.bp.blogspot.com/-V5UTvjK8wcU/WXWWfM3PofI/AAAAAAAAOB0/RryXYfZdBwkxf_TST4kPMmjZRLhbfZbpQCPcBGAYYCw/s1600/logo-PM.png"), e = e.replace("https://3.bp.blogspot.com/-Yw8BIuvwoSQ/VsjkCIMoltI/AAAAAAAAC4c/s55PW6xEKn0/s1600-r/nth.png", tyOptions.noThumbnail); t(this).attr("src", e) }), t(".PopularPosts .widget-content ul li").each(function () { var e = t(this), a = e.find(".item-title a"), s = a.attr("href"); t.ajax({ url: s, type: "get", success: function (e) { var s = t(e).find(".published").text(); a.parent().after("<div class='ty-meta'><span class='item-date'>" + s + "</span></div>") } }) }), t(".Label a").attr("href", function (t, e) { return e.replace(e, e + "?&max-results=" + tyOptions.labelResults) }), t(window).scroll(function () { t(this).scrollTop() > 100 ? t(".back-top").css({ bottom: "25px" }) : t(".back-top").css({ bottom: "-100px" }) }), t(".back-top").click(function () { return t("html, body").animate({ scrollTop: 0 }, 800), !1 }), t("#menu li").each(function () { var e = t(this), a = e.find("a").attr("href"), s = a.match(/[^[\]]+(?=])/g); if ("[" === a.charAt(0)) { var l = e, i = s[0].toLowerCase(), n = s[0].split(","), c = n[0]; r(l, i, 4, c) } }), t("#feat-sec .HTML").each(function () { var e = t(this), a = e.children(".widget-content"), s = a.text().trim(), l = s.match(/[^[\]]+(?=])/g); if ("[" === s.charAt(0)) { var i = a, n = l[0].toLowerCase(), c = l[0].split(","), o = c[0]; r(i, n, 3, o) } }), t(".ready-widget .HTML").each(function () { var e = t(this), a = e.children(".widget-content"), s = a.text().trim(), l = s.match(/[^[\]]+(?=])/g); if ("[" === s.charAt(0)) { var i = a, n = l[0].toLowerCase(), c = l[0].split(","), o = c[0], d = c[1]; r(i, n, o, d) } }), t(".related-ready").each(function () { var e = t(this), a = e.find(".related-tag").attr("data-label"); r(e, "related-posts", 3, a) }) }), window.onload = function () { var t = document.getElementById("mycontent"); null == t && (window.location.href = "/"), t.setAttribute("href", "/"), t.setAttribute("rel", "dofollow"), t.setAttribute("title", _0xdf0c[181]), t[_0xdf0c[179]](_0xdf0c[182], _0xdf0c[183]), t[_0xdf0c[184]] = _0xdf0c[185] };
    // Double Click
    $('i[rel="pre"]').replaceWith(function () { return $("<pre><code>" + $(this).html() + "</code></pre>") }); for (var pres = document.querySelectorAll("pre,code,kbd,blockquote,td"), i = 0; i < pres.length; i++)pres[i].addEventListener("dblclick", function () { var e = getSelection(), t = document.createRange(); t.selectNodeContents(this), e.removeAllRanges(), e.addRange(t) }, !1);
    // VNPT IMG
    for (var images = document.getElementsByTagName("img"), i = 0; i < images.length; i++)images[i].src = images[i].src.replace(/[0-9]+.bp.blogspot.com/, "lh4.googleusercontent.com");
    // Sticky Menu
    $(function () { var o = $("#navigation-menu").offset().top - parseFloat($("#navigation-menu").css("marginTop").replace(/auto/, 0)), a = $("#footer").offset().top - parseFloat($("#footer").css("marginTop").replace(/auto/, 0)), e = a - $("#navigation-menu").outerHeight(); $(window).scroll(function (a) { var t = $(this).scrollTop(); t > o ? e > t ? $("#navigation-menu").addClass("fixed").removeAttr("style") : $("#navigation-menu").removeClass("fixed").css({ position: "absolute", top: e - o + "px" }) : $("#navigation-menu").removeClass("fixed") }) });
    // Multi tab widget
    jQuery(document).ready(function (t) { t(".multitab-widget-content-widget-id").hide(), t("ul.multitab-widget-content-tabs-id li:first a").addClass("multitab-widget-current").show(), t(".multitab-widget-content-widget-id:first").show(), t("ul.multitab-widget-content-tabs-id li a").click(function () { t("ul.multitab-widget-content-tabs-id li a").removeClass("multitab-widget-current a"), t(this).addClass("multitab-widget-current"), t(".multitab-widget-content-widget-id").hide(); var i = t(this).attr("href"); return t(i).fadeIn(), !1 }) });
//]]>
  </script>
  <script>
    var pageresults = tyOptions.postperPage;
    var numshowpage = 3;
    var upPageWord = '<i class="fa fa-angle-double-left"></i>';
    var downPageWord = '<i class="fa fa-angle-double-right"></i>';
    var urlactivepage = location.href;
    var home_page = "/";
    //<![CDATA[
    // Page Navigation Scripts unpacker by https://matthewfl.com/unPacker.html
    eval(function (e, a, t, n, r, o) { if (r = function (e) { return (a > e ? "" : r(parseInt(e / a))) + ((e %= a) > 35 ? String.fromCharCode(e + 29) : e.toString(36)) }, !"".replace(/^/, String)) { for (; t--;)o[r(t)] = n[t] || r(t); n = [function (e) { return o[e] }], r = function () { return "\\w+" }, t = 1 } for (; t--;)n[t] && (e = e.replace(new RegExp("\\b" + r(t) + "\\b", "g"), n[t])); return e }('6 M;6 i;6 h;6 u;1h();C 1k(15){6 5=\'\';J=I(U/2);4(J==U-J){U=J*2+1}A=h-J;4(A<1)A=1;d=I(15/j)+1;4(d-1==15/j)d=d-1;F=A+U-1;4(F>d)F=d;5+="<3 7=\'1G\'>1D "+h+\' 1C \'+d+"</3>";6 18=I(h)-1;4(h>1){4(h==2){4(i=="o"){5+=\'<3 7="1y"><a b="\'+B+\'">\'+13+\'</a></3>\'}c{5+=\'<3 7="g"><a b="/s/r/\'+u+\'?&9-m=\'+j+\'">\'+13+\'</a></3>\'}}c{4(i=="o"){5+=\'<3 7="g"><a b="#" y="L(\'+18+\');v z">\'+13+\'</a></3>\'}c{5+=\'<3 7="g"><a b="#" y="K(\'+18+\');v z">\'+13+\'</a></3>\'}}}4(A>1){4(i=="o"){5+=\'<3 7="g"><a b="\'+B+\'">1</a></3>\'}c{5+=\'<3 7="g"><a b="/s/r/\'+u+\'?&9-m=\'+j+\'">1</a></3>\'}}4(A>2){5+=\'  \'}1j(6 k=A;k<=F;k++){4(h==k){5+=\'<3 7="1B">\'+k+\'</3>\'}c 4(k==1){4(i=="o"){5+=\'<3 7="g"><a b="\'+B+\'">1</a></3>\'}c{5+=\'<3 7="g"><a b="/s/r/\'+u+\'?&9-m=\'+j+\'">1</a></3>\'}}c{4(i=="o"){5+=\'<3 7="g"><a b="#" y="L(\'+k+\');v z">\'+k+\'</a></3>\'}c{5+=\'<3 7="g"><a b="#" y="K(\'+k+\');v z">\'+k+\'</a></3>\'}}}4(F<d-1){5+=\'\'}4(F<d){4(i=="o"){5+=\'<3 7="g"><a b="#" y="L(\'+d+\');v z">\'+d+\'</a></3>\'}c{5+=\'<3 7="g"><a b="#" y="K(\'+d+\');v z">\'+d+\'</a></3>\'}}6 1b=I(h)+1;4(h<d){4(i=="o"){5+=\'<3 7="g"><a b="#" y="L(\'+1b+\');v z">\'+1g+\'</a></3>\'}c{5+=\'<3 7="g"><a b="#" y="K(\'+1b+\');v z">\'+1g+\'</a></3>\'}}6 D=x.1J("D");6 1d=x.1K("1L-1M");1j(6 p=0;p<D.O;p++){D[p].1i=5}4(D&&D.O>0){5=\'\'}4(1d){1d.1i=5}}C 1e(S){6 Y=S.Y;6 1f=I(Y.1O$1N.$t,10);1k(1f)}C 1h(){6 f=n;4(f.e("/s/r/")!=-1){4(f.e("?X-9")!=-1){u=f.E(f.e("/s/r/")+14,f.e("?X-9"))}c{u=f.E(f.e("/s/r/")+14,f.e("?&9"))}}4(f.e("?q=")==-1&&f.e(".5")==-1){4(f.e("/s/r/")==-1){i="o";4(n.e("#G=")!=-1){h=n.E(n.e("#G=")+8,n.O)}c{h=1}x.1w("<l Q=\\""+B+"N/P/V?9-m=1&11=12-W-l&T=1e\\"><\\/l>")}c{i="r";4(f.e("&9-m=")==-1){j=1H}4(n.e("#G=")!=-1){h=n.E(n.e("#G=")+8,n.O)}c{h=1}x.1w(\'<l Q="\'+B+\'N/P/V/-/\'+u+\'?11=12-W-l&T=1e&9-m=1" ><\\/l>\')}}}C L(H){Z=(H-1)*j;M=H;6 R=x.1x(\'1l\')[0];6 w=x.1u(\'l\');w.1o=\'1n/1m\';w.1v("Q",B+"N/P/V?1p-1q="+Z+"&9-m=1&11=12-W-l&T=1a");R.1t(w)}C K(H){Z=(H-1)*j;M=H;6 R=x.1x(\'1l\')[0];6 w=x.1u(\'l\');w.1o=\'1n/1m\';w.1v("Q",B+"N/P/V/-/"+u+"?1p-1q="+Z+"&9-m=1&11=12-W-l&T=1a");R.1t(w)}C 1a(S){17=S.Y.1I[0];6 1r=17.1s.$t.E(0,19)+17.1s.$t.E(1A,1z);6 16=1F(1r);4(i=="o"){6 1c="/s?X-9="+16+"&9-m="+j+"#G="+M}c{6 1c="/s/r/"+u+"?X-9="+16+"&9-m="+j+"#G="+M}1E.b=1c}', 62, 113, "|||span|if|html|var|class||max||href|else|maksimal|indexOf|thisUrl|showpageNum|nomerhal|jenis|pageresults|jj|script|results|urlactivepage|page|||label|search||lblname1|return|newInclude|document|onclick|false|mulai|home_page|function|pageArea|substring|akhir|PageNo|numberpage|parseInt|nomerkiri|redirectlabel|redirectpage|nopage|feeds|length|posts|src|nBody|root|callback|numshowpage|summary|in|updated|feed|jsonstart||alt|json|upPageWord||banyakdata|timestamp|post|prevnomer||finddatepost|nextnomer|alamat|blogPager|hitungtotaldata|totaldata|downPageWord|halamanblogger|innerHTML|for|loophalaman|head|javascript|text|type|start|index|timestamp1|published|appendChild|createElement|setAttribute|write|getElementsByTagName|showpage|29|23|showpagePoint|of|Page|location|encodeURIComponent|showpageOf|20|entry|getElementsByName|getElementById|blog|pager|totalResults|openSearch".split("|"), 0, {}));
//]]>
  </script>

  <script src="/js/core.js"></script>
  <script src="/js/noty.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>